* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

.regForm {
    background-color: white;
    margin: 75px auto;
    font-family: Raleway;
    padding: 22px;
    width: 70%;
    min-width: 300px;
    max-width: 550px;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

button, input[type=submit], a {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    margin: 2px 0;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
    display: inline-block;
}

button:hover, input[type=submit]:hover, a:hover {
    opacity: 0.8;
}

/* Spécifique aux liens : enlever souligné et bleu */
a:hover {
    text-decoration: none;
    color: white;
}
