<div>
    <table class="w3-table-all w3-centered w3-hoverable">
        <!-- Header -->
        <tr class="w3-light-green">
            <th>Projet\Jour</th>
            <!-- {{#dates}} -->
            <th>
                {{dateClean}}
            </th>
            <!-- {{/dates}} -->
        </tr>
        <!-- Lignes -->
        <!-- {{#projets}} -->
        <tr id={{idprojet}}>
        	<td class="w3-light-green">{{nom}}</td>
        	<!-- {{#dates}} -->
            <td class={{iddate}}>0</td>
            <!-- {{/dates}} -->
        </tr>
		<!-- {{/projets}} -->
    </table>
</div>